<div class="bngApp derpsos-settings">
    <link href="/ui/modules/apps/derpSosSettings/app.css" rel="stylesheet">
    <input type="button" ng-click="showHide()" value="Show/Hide">
    <div class="main-container" ng-show="showDiv">
        <div class="settings-row">
            <span>Camera X Position: {{ camPosX }}</span>
            <input type="range" min="-2" max="2" step="0.01" value="0" ng-model="camPosX">
        </div>
        <div class="settings-row">
            <span>Camera Y Position: {{ camPosY }}</span>
            <input type="range" min="-2" max="2" step="0.01" value="0" ng-model="camPosY">
        </div>
        <div class="settings-row">
            <span>Camera Z Position: {{ camPosZ }}</span>
            <input type="range" min="-2" max="2" step="0.01" value="0" ng-model="camPosZ">
        </div>
        <div class="settings-row">
            <span>Camera X Rotation: {{ camRotX }}</span>
            <input type="range" min="-180" max="180" step="0.1" value="0" ng-model="camRotX">
        </div>
        <div class="settings-row">
            <span>Camera Y Rotation {{ camRotY }}</span>
            <input type="range" min="-180" max="180" step="0.1" value="0" ng-model="camRotY">
        </div>
        <div class="settings-row">
            <span>Camera Z Rotation {{ camRotZ }}</span>
            <input type="range" min="-180" max="180" step="0.1" value="0" ng-model="camRotZ">
        </div>
        <input type="button" ng-click="resetSettings()" value="Reset to default">
    </div>
</div>